
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}


html,
body {
  height: 100%;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}


b,
strong {
  font-weight: bold;
}


img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}


ul,
ol {
  list-style: none;
}


li {
  display: list-item;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}


q {
  quotes: none;
}


q:before,
q:after {
  content: "";
  content: none;
}


sub,
sup,
small {
  font-size: 75%;
}


sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}


sub {
  bottom: -0.25em;
}


sup {
  top: -0.5em;
}


svg {
  overflow: hidden;
}

/* ================================================================== */
/* This file has a mobile-to-tablet, and tablet-to-desktop breakpoint */
/* ================================================================== */
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
}
}
@media screen {
  
  .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  
  .grid-container:before, .clearfix:before,
  .grid-container:after,
  .clearfix:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }

  
  .grid-container:after, .clearfix:after {
    clear: both;
  }

  
  .grid-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 960px;
  }

  
  .grid-5, .mobile-grid-5, .tablet-grid-5, .grid-10, .mobile-grid-10, .tablet-grid-10, .grid-15, .mobile-grid-15, .tablet-grid-15, .grid-20, .mobile-grid-20, .tablet-grid-20, .grid-25, .mobile-grid-25, .tablet-grid-25, .grid-30, .mobile-grid-30, .tablet-grid-30, .grid-35, .mobile-grid-35, .tablet-grid-35, .grid-40, .mobile-grid-40, .tablet-grid-40, .grid-45, .mobile-grid-45, .tablet-grid-45, .grid-50, .mobile-grid-50, .tablet-grid-50, .grid-55, .mobile-grid-55, .tablet-grid-55, .grid-60, .mobile-grid-60, .tablet-grid-60, .grid-65, .mobile-grid-65, .tablet-grid-65, .grid-70, .mobile-grid-70, .tablet-grid-70, .grid-75, .mobile-grid-75, .tablet-grid-75, .grid-80, .mobile-grid-80, .tablet-grid-80, .grid-85, .mobile-grid-85, .tablet-grid-85, .grid-90, .mobile-grid-90, .tablet-grid-90, .grid-95, .mobile-grid-95, .tablet-grid-95, .grid-100, .mobile-grid-100, .tablet-grid-100, .grid-33, .mobile-grid-33, .tablet-grid-33, .grid-66, .mobile-grid-66, .tablet-grid-66 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }

  
  .grid-parent {
    padding-left: 0;
    padding-right: 0;
  }

  
  body {
    min-width: 320px;
  }
}
@media screen and (max-width: 767px) {
  
  .mobile-grid-100:before,
  .mobile-grid-100:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }

  
  .mobile-grid-100:after {
    clear: both;
  }

  
  .mobile-push-5,
  .mobile-pull-5, .mobile-push-10,
  .mobile-pull-10, .mobile-push-15,
  .mobile-pull-15, .mobile-push-20,
  .mobile-pull-20, .mobile-push-25,
  .mobile-pull-25, .mobile-push-30,
  .mobile-pull-30, .mobile-push-35,
  .mobile-pull-35, .mobile-push-40,
  .mobile-pull-40, .mobile-push-45,
  .mobile-pull-45, .mobile-push-50,
  .mobile-pull-50, .mobile-push-55,
  .mobile-pull-55, .mobile-push-60,
  .mobile-pull-60, .mobile-push-65,
  .mobile-pull-65, .mobile-push-70,
  .mobile-pull-70, .mobile-push-75,
  .mobile-pull-75, .mobile-push-80,
  .mobile-pull-80, .mobile-push-85,
  .mobile-pull-85, .mobile-push-90,
  .mobile-pull-90, .mobile-push-95,
  .mobile-pull-95, .mobile-push-33,
  .mobile-pull-33, .mobile-push-66,
  .mobile-pull-66 {
    position: relative;
  }

  
  .hide-on-mobile {
    display: none !important;
  }

  
  .mobile-grid-5 {
    float: left;
    width: 5%;
  }

  
  .mobile-prefix-5 {
    margin-left: 5%;
  }

  
  .mobile-suffix-5 {
    margin-right: 5%;
  }

  
  .mobile-push-5 {
    left: 5%;
  }

  
  .mobile-pull-5 {
    left: -5%;
  }

  
  .mobile-grid-10 {
    float: left;
    width: 10%;
  }

  
  .mobile-prefix-10 {
    margin-left: 10%;
  }

  
  .mobile-suffix-10 {
    margin-right: 10%;
  }

  
  .mobile-push-10 {
    left: 10%;
  }

  
  .mobile-pull-10 {
    left: -10%;
  }

  
  .mobile-grid-15 {
    float: left;
    width: 15%;
  }

  
  .mobile-prefix-15 {
    margin-left: 15%;
  }

  
  .mobile-suffix-15 {
    margin-right: 15%;
  }

  
  .mobile-push-15 {
    left: 15%;
  }

  
  .mobile-pull-15 {
    left: -15%;
  }

  
  .mobile-grid-20 {
    float: left;
    width: 20%;
  }

  
  .mobile-prefix-20 {
    margin-left: 20%;
  }

  
  .mobile-suffix-20 {
    margin-right: 20%;
  }

  
  .mobile-push-20 {
    left: 20%;
  }

  
  .mobile-pull-20 {
    left: -20%;
  }

  
  .mobile-grid-25 {
    float: left;
    width: 25%;
  }

  
  .mobile-prefix-25 {
    margin-left: 25%;
  }

  
  .mobile-suffix-25 {
    margin-right: 25%;
  }

  
  .mobile-push-25 {
    left: 25%;
  }

  
  .mobile-pull-25 {
    left: -25%;
  }

  
  .mobile-grid-30 {
    float: left;
    width: 30%;
  }

  
  .mobile-prefix-30 {
    margin-left: 30%;
  }

  
  .mobile-suffix-30 {
    margin-right: 30%;
  }

  
  .mobile-push-30 {
    left: 30%;
  }

  
  .mobile-pull-30 {
    left: -30%;
  }

  
  .mobile-grid-35 {
    float: left;
    width: 35%;
  }

  
  .mobile-prefix-35 {
    margin-left: 35%;
  }

  
  .mobile-suffix-35 {
    margin-right: 35%;
  }

  
  .mobile-push-35 {
    left: 35%;
  }

  
  .mobile-pull-35 {
    left: -35%;
  }

  
  .mobile-grid-40 {
    float: left;
    width: 40%;
  }

  
  .mobile-prefix-40 {
    margin-left: 40%;
  }

  
  .mobile-suffix-40 {
    margin-right: 40%;
  }

  
  .mobile-push-40 {
    left: 40%;
  }

  
  .mobile-pull-40 {
    left: -40%;
  }

  
  .mobile-grid-45 {
    float: left;
    width: 45%;
  }

  
  .mobile-prefix-45 {
    margin-left: 45%;
  }

  
  .mobile-suffix-45 {
    margin-right: 45%;
  }

  
  .mobile-push-45 {
    left: 45%;
  }

  
  .mobile-pull-45 {
    left: -45%;
  }

  
  .mobile-grid-50 {
    float: left;
    width: 50%;
  }

  
  .mobile-prefix-50 {
    margin-left: 50%;
  }

  
  .mobile-suffix-50 {
    margin-right: 50%;
  }

  
  .mobile-push-50 {
    left: 50%;
  }

  
  .mobile-pull-50 {
    left: -50%;
  }

  
  .mobile-grid-55 {
    float: left;
    width: 55%;
  }

  
  .mobile-prefix-55 {
    margin-left: 55%;
  }

  
  .mobile-suffix-55 {
    margin-right: 55%;
  }

  
  .mobile-push-55 {
    left: 55%;
  }

  
  .mobile-pull-55 {
    left: -55%;
  }

  
  .mobile-grid-60 {
    float: left;
    width: 60%;
  }

  
  .mobile-prefix-60 {
    margin-left: 60%;
  }

  
  .mobile-suffix-60 {
    margin-right: 60%;
  }

  
  .mobile-push-60 {
    left: 60%;
  }

  
  .mobile-pull-60 {
    left: -60%;
  }

  
  .mobile-grid-65 {
    float: left;
    width: 65%;
  }

  
  .mobile-prefix-65 {
    margin-left: 65%;
  }

  
  .mobile-suffix-65 {
    margin-right: 65%;
  }

  
  .mobile-push-65 {
    left: 65%;
  }

  
  .mobile-pull-65 {
    left: -65%;
  }

  
  .mobile-grid-70 {
    float: left;
    width: 70%;
  }

  
  .mobile-prefix-70 {
    margin-left: 70%;
  }

  
  .mobile-suffix-70 {
    margin-right: 70%;
  }

  
  .mobile-push-70 {
    left: 70%;
  }

  
  .mobile-pull-70 {
    left: -70%;
  }

  
  .mobile-grid-75 {
    float: left;
    width: 75%;
  }

  
  .mobile-prefix-75 {
    margin-left: 75%;
  }

  
  .mobile-suffix-75 {
    margin-right: 75%;
  }

  
  .mobile-push-75 {
    left: 75%;
  }

  
  .mobile-pull-75 {
    left: -75%;
  }

  
  .mobile-grid-80 {
    float: left;
    width: 80%;
  }

  
  .mobile-prefix-80 {
    margin-left: 80%;
  }

  
  .mobile-suffix-80 {
    margin-right: 80%;
  }

  
  .mobile-push-80 {
    left: 80%;
  }

  
  .mobile-pull-80 {
    left: -80%;
  }

  
  .mobile-grid-85 {
    float: left;
    width: 85%;
  }

  
  .mobile-prefix-85 {
    margin-left: 85%;
  }

  
  .mobile-suffix-85 {
    margin-right: 85%;
  }

  
  .mobile-push-85 {
    left: 85%;
  }

  
  .mobile-pull-85 {
    left: -85%;
  }

  
  .mobile-grid-90 {
    float: left;
    width: 90%;
  }

  
  .mobile-prefix-90 {
    margin-left: 90%;
  }

  
  .mobile-suffix-90 {
    margin-right: 90%;
  }

  
  .mobile-push-90 {
    left: 90%;
  }

  
  .mobile-pull-90 {
    left: -90%;
  }

  
  .mobile-grid-95 {
    float: left;
    width: 95%;
  }

  
  .mobile-prefix-95 {
    margin-left: 95%;
  }

  
  .mobile-suffix-95 {
    margin-right: 95%;
  }

  
  .mobile-push-95 {
    left: 95%;
  }

  
  .mobile-pull-95 {
    left: -95%;
  }

  
  .mobile-grid-33 {
    float: left;
    width: 33.33333%;
  }

  
  .mobile-prefix-33 {
    margin-left: 33.33333%;
  }

  
  .mobile-suffix-33 {
    margin-right: 33.33333%;
  }

  
  .mobile-push-33 {
    left: 33.33333%;
  }

  
  .mobile-pull-33 {
    left: -33.33333%;
  }

  
  .mobile-grid-66 {
    float: left;
    width: 66.66667%;
  }

  
  .mobile-prefix-66 {
    margin-left: 66.66667%;
  }

  
  .mobile-suffix-66 {
    margin-right: 66.66667%;
  }

  
  .mobile-push-66 {
    left: 66.66667%;
  }

  
  .mobile-pull-66 {
    left: -66.66667%;
  }

  
  .mobile-grid-100 {
    clear: both;
    width: 100%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1025px) {
  
  .tablet-grid-100:before,
  .tablet-grid-100:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }

  
  .tablet-grid-100:after {
    clear: both;
  }

  
  .tablet-push-5,
  .tablet-pull-5, .tablet-push-10,
  .tablet-pull-10, .tablet-push-15,
  .tablet-pull-15, .tablet-push-20,
  .tablet-pull-20, .tablet-push-25,
  .tablet-pull-25, .tablet-push-30,
  .tablet-pull-30, .tablet-push-35,
  .tablet-pull-35, .tablet-push-40,
  .tablet-pull-40, .tablet-push-45,
  .tablet-pull-45, .tablet-push-50,
  .tablet-pull-50, .tablet-push-55,
  .tablet-pull-55, .tablet-push-60,
  .tablet-pull-60, .tablet-push-65,
  .tablet-pull-65, .tablet-push-70,
  .tablet-pull-70, .tablet-push-75,
  .tablet-pull-75, .tablet-push-80,
  .tablet-pull-80, .tablet-push-85,
  .tablet-pull-85, .tablet-push-90,
  .tablet-pull-90, .tablet-push-95,
  .tablet-pull-95, .tablet-push-33,
  .tablet-pull-33, .tablet-push-66,
  .tablet-pull-66 {
    position: relative;
  }

  
  .hide-on-tablet {
    display: none !important;
  }

  
  .tablet-grid-5 {
    float: left;
    width: 5%;
  }

  
  .tablet-prefix-5 {
    margin-left: 5%;
  }

  
  .tablet-suffix-5 {
    margin-right: 5%;
  }

  
  .tablet-push-5 {
    left: 5%;
  }

  
  .tablet-pull-5 {
    left: -5%;
  }

  
  .tablet-grid-10 {
    float: left;
    width: 10%;
  }

  
  .tablet-prefix-10 {
    margin-left: 10%;
  }

  
  .tablet-suffix-10 {
    margin-right: 10%;
  }

  
  .tablet-push-10 {
    left: 10%;
  }

  
  .tablet-pull-10 {
    left: -10%;
  }

  
  .tablet-grid-15 {
    float: left;
    width: 15%;
  }

  
  .tablet-prefix-15 {
    margin-left: 15%;
  }

  
  .tablet-suffix-15 {
    margin-right: 15%;
  }

  
  .tablet-push-15 {
    left: 15%;
  }

  
  .tablet-pull-15 {
    left: -15%;
  }

  
  .tablet-grid-20 {
    float: left;
    width: 20%;
  }

  
  .tablet-prefix-20 {
    margin-left: 20%;
  }

  
  .tablet-suffix-20 {
    margin-right: 20%;
  }

  
  .tablet-push-20 {
    left: 20%;
  }

  
  .tablet-pull-20 {
    left: -20%;
  }

  
  .tablet-grid-25 {
    float: left;
    width: 25%;
  }

  
  .tablet-prefix-25 {
    margin-left: 25%;
  }

  
  .tablet-suffix-25 {
    margin-right: 25%;
  }

  
  .tablet-push-25 {
    left: 25%;
  }

  
  .tablet-pull-25 {
    left: -25%;
  }

  
  .tablet-grid-30 {
    float: left;
    width: 30%;
  }

  
  .tablet-prefix-30 {
    margin-left: 30%;
  }

  
  .tablet-suffix-30 {
    margin-right: 30%;
  }

  
  .tablet-push-30 {
    left: 30%;
  }

  
  .tablet-pull-30 {
    left: -30%;
  }

  
  .tablet-grid-35 {
    float: left;
    width: 35%;
  }

  
  .tablet-prefix-35 {
    margin-left: 35%;
  }

  
  .tablet-suffix-35 {
    margin-right: 35%;
  }

  
  .tablet-push-35 {
    left: 35%;
  }

  
  .tablet-pull-35 {
    left: -35%;
  }

  
  .tablet-grid-40 {
    float: left;
    width: 40%;
  }

  
  .tablet-prefix-40 {
    margin-left: 40%;
  }

  
  .tablet-suffix-40 {
    margin-right: 40%;
  }

  
  .tablet-push-40 {
    left: 40%;
  }

  
  .tablet-pull-40 {
    left: -40%;
  }

  
  .tablet-grid-45 {
    float: left;
    width: 45%;
  }

  
  .tablet-prefix-45 {
    margin-left: 45%;
  }

  
  .tablet-suffix-45 {
    margin-right: 45%;
  }

  
  .tablet-push-45 {
    left: 45%;
  }

  
  .tablet-pull-45 {
    left: -45%;
  }

  
  .tablet-grid-50 {
    float: left;
    width: 50%;
  }

  
  .tablet-prefix-50 {
    margin-left: 50%;
  }

  
  .tablet-suffix-50 {
    margin-right: 50%;
  }

  
  .tablet-push-50 {
    left: 50%;
  }

  
  .tablet-pull-50 {
    left: -50%;
  }

  
  .tablet-grid-55 {
    float: left;
    width: 55%;
  }

  
  .tablet-prefix-55 {
    margin-left: 55%;
  }

  
  .tablet-suffix-55 {
    margin-right: 55%;
  }

  
  .tablet-push-55 {
    left: 55%;
  }

  
  .tablet-pull-55 {
    left: -55%;
  }

  
  .tablet-grid-60 {
    float: left;
    width: 60%;
  }

  
  .tablet-prefix-60 {
    margin-left: 60%;
  }

  
  .tablet-suffix-60 {
    margin-right: 60%;
  }

  
  .tablet-push-60 {
    left: 60%;
  }

  
  .tablet-pull-60 {
    left: -60%;
  }

  
  .tablet-grid-65 {
    float: left;
    width: 65%;
  }

  
  .tablet-prefix-65 {
    margin-left: 65%;
  }

  
  .tablet-suffix-65 {
    margin-right: 65%;
  }

  
  .tablet-push-65 {
    left: 65%;
  }

  
  .tablet-pull-65 {
    left: -65%;
  }

  
  .tablet-grid-70 {
    float: left;
    width: 70%;
  }

  
  .tablet-prefix-70 {
    margin-left: 70%;
  }

  
  .tablet-suffix-70 {
    margin-right: 70%;
  }

  
  .tablet-push-70 {
    left: 70%;
  }

  
  .tablet-pull-70 {
    left: -70%;
  }

  
  .tablet-grid-75 {
    float: left;
    width: 75%;
  }

  
  .tablet-prefix-75 {
    margin-left: 75%;
  }

  
  .tablet-suffix-75 {
    margin-right: 75%;
  }

  
  .tablet-push-75 {
    left: 75%;
  }

  
  .tablet-pull-75 {
    left: -75%;
  }

  
  .tablet-grid-80 {
    float: left;
    width: 80%;
  }

  
  .tablet-prefix-80 {
    margin-left: 80%;
  }

  
  .tablet-suffix-80 {
    margin-right: 80%;
  }

  
  .tablet-push-80 {
    left: 80%;
  }

  
  .tablet-pull-80 {
    left: -80%;
  }

  
  .tablet-grid-85 {
    float: left;
    width: 85%;
  }

  
  .tablet-prefix-85 {
    margin-left: 85%;
  }

  
  .tablet-suffix-85 {
    margin-right: 85%;
  }

  
  .tablet-push-85 {
    left: 85%;
  }

  
  .tablet-pull-85 {
    left: -85%;
  }

  
  .tablet-grid-90 {
    float: left;
    width: 90%;
  }

  
  .tablet-prefix-90 {
    margin-left: 90%;
  }

  
  .tablet-suffix-90 {
    margin-right: 90%;
  }

  
  .tablet-push-90 {
    left: 90%;
  }

  
  .tablet-pull-90 {
    left: -90%;
  }

  
  .tablet-grid-95 {
    float: left;
    width: 95%;
  }

  
  .tablet-prefix-95 {
    margin-left: 95%;
  }

  
  .tablet-suffix-95 {
    margin-right: 95%;
  }

  
  .tablet-push-95 {
    left: 95%;
  }

  
  .tablet-pull-95 {
    left: -95%;
  }

  
  .tablet-grid-33 {
    float: left;
    width: 33.33333%;
  }

  
  .tablet-prefix-33 {
    margin-left: 33.33333%;
  }

  
  .tablet-suffix-33 {
    margin-right: 33.33333%;
  }

  
  .tablet-push-33 {
    left: 33.33333%;
  }

  
  .tablet-pull-33 {
    left: -33.33333%;
  }

  
  .tablet-grid-66 {
    float: left;
    width: 66.66667%;
  }

  
  .tablet-prefix-66 {
    margin-left: 66.66667%;
  }

  
  .tablet-suffix-66 {
    margin-right: 66.66667%;
  }

  
  .tablet-push-66 {
    left: 66.66667%;
  }

  
  .tablet-pull-66 {
    left: -66.66667%;
  }

  
  .tablet-grid-100 {
    clear: both;
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  
  .grid-100:before,
  .grid-100:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }

  
  .grid-100:after {
    clear: both;
  }

  
  .push-5,
  .pull-5, .push-10,
  .pull-10, .push-15,
  .pull-15, .push-20,
  .pull-20, .push-25,
  .pull-25, .push-30,
  .pull-30, .push-35,
  .pull-35, .push-40,
  .pull-40, .push-45,
  .pull-45, .push-50,
  .pull-50, .push-55,
  .pull-55, .push-60,
  .pull-60, .push-65,
  .pull-65, .push-70,
  .pull-70, .push-75,
  .pull-75, .push-80,
  .pull-80, .push-85,
  .pull-85, .push-90,
  .pull-90, .push-95,
  .pull-95, .push-33,
  .pull-33, .push-66,
  .pull-66 {
    position: relative;
  }

  
  .hide-on-desktop {
    display: none !important;
  }

  
  .grid-5 {
    float: left;
    width: 5%;
  }

  
  .prefix-5 {
    margin-left: 5%;
  }

  
  .suffix-5 {
    margin-right: 5%;
  }

  
  .push-5 {
    left: 5%;
  }

  
  .pull-5 {
    left: -5%;
  }

  
  .grid-10 {
    float: left;
    width: 10%;
  }

  
  .prefix-10 {
    margin-left: 10%;
  }

  
  .suffix-10 {
    margin-right: 10%;
  }

  
  .push-10 {
    left: 10%;
  }

  
  .pull-10 {
    left: -10%;
  }

  
  .grid-15 {
    float: left;
    width: 15%;
  }

  
  .prefix-15 {
    margin-left: 15%;
  }

  
  .suffix-15 {
    margin-right: 15%;
  }

  
  .push-15 {
    left: 15%;
  }

  
  .pull-15 {
    left: -15%;
  }

  
  .grid-20 {
    float: left;
    width: 20%;
  }

  
  .prefix-20 {
    margin-left: 20%;
  }

  
  .suffix-20 {
    margin-right: 20%;
  }

  
  .push-20 {
    left: 20%;
  }

  
  .pull-20 {
    left: -20%;
  }

  
  .grid-25 {
    float: left;
    width: 25%;
  }

  
  .prefix-25 {
    margin-left: 25%;
  }

  
  .suffix-25 {
    margin-right: 25%;
  }

  
  .push-25 {
    left: 25%;
  }

  
  .pull-25 {
    left: -25%;
  }

  
  .grid-30 {
    float: left;
    width: 30%;
  }

  
  .prefix-30 {
    margin-left: 30%;
  }

  
  .suffix-30 {
    margin-right: 30%;
  }

  
  .push-30 {
    left: 30%;
  }

  
  .pull-30 {
    left: -30%;
  }

  
  .grid-35 {
    float: left;
    width: 35%;
  }

  
  .prefix-35 {
    margin-left: 35%;
  }

  
  .suffix-35 {
    margin-right: 35%;
  }

  
  .push-35 {
    left: 35%;
  }

  
  .pull-35 {
    left: -35%;
  }

  
  .grid-40 {
    float: left;
    width: 40%;
  }

  
  .prefix-40 {
    margin-left: 40%;
  }

  
  .suffix-40 {
    margin-right: 40%;
  }

  
  .push-40 {
    left: 40%;
  }

  
  .pull-40 {
    left: -40%;
  }

  
  .grid-45 {
    float: left;
    width: 45%;
  }

  
  .prefix-45 {
    margin-left: 45%;
  }

  
  .suffix-45 {
    margin-right: 45%;
  }

  
  .push-45 {
    left: 45%;
  }

  
  .pull-45 {
    left: -45%;
  }

  
  .grid-50 {
    float: left;
    width: 50%;
  }

  
  .prefix-50 {
    margin-left: 50%;
  }

  
  .suffix-50 {
    margin-right: 50%;
  }

  
  .push-50 {
    left: 50%;
  }

  
  .pull-50 {
    left: -50%;
  }

  
  .grid-55 {
    float: left;
    width: 55%;
  }

  
  .prefix-55 {
    margin-left: 55%;
  }

  
  .suffix-55 {
    margin-right: 55%;
  }

  
  .push-55 {
    left: 55%;
  }

  
  .pull-55 {
    left: -55%;
  }

  
  .grid-60 {
    float: left;
    width: 60%;
  }

  
  .prefix-60 {
    margin-left: 60%;
  }

  
  .suffix-60 {
    margin-right: 60%;
  }

  
  .push-60 {
    left: 60%;
  }

  
  .pull-60 {
    left: -60%;
  }

  
  .grid-65 {
    float: left;
    width: 65%;
  }

  
  .prefix-65 {
    margin-left: 65%;
  }

  
  .suffix-65 {
    margin-right: 65%;
  }

  
  .push-65 {
    left: 65%;
  }

  
  .pull-65 {
    left: -65%;
  }

  
  .grid-70 {
    float: left;
    width: 70%;
  }

  
  .prefix-70 {
    margin-left: 70%;
  }

  
  .suffix-70 {
    margin-right: 70%;
  }

  
  .push-70 {
    left: 70%;
  }

  
  .pull-70 {
    left: -70%;
  }

  
  .grid-75 {
    float: left;
    width: 75%;
  }

  
  .prefix-75 {
    margin-left: 75%;
  }

  
  .suffix-75 {
    margin-right: 75%;
  }

  
  .push-75 {
    left: 75%;
  }

  
  .pull-75 {
    left: -75%;
  }

  
  .grid-80 {
    float: left;
    width: 80%;
  }

  
  .prefix-80 {
    margin-left: 80%;
  }

  
  .suffix-80 {
    margin-right: 80%;
  }

  
  .push-80 {
    left: 80%;
  }

  
  .pull-80 {
    left: -80%;
  }

  
  .grid-85 {
    float: left;
    width: 85%;
  }

  
  .prefix-85 {
    margin-left: 85%;
  }

  
  .suffix-85 {
    margin-right: 85%;
  }

  
  .push-85 {
    left: 85%;
  }

  
  .pull-85 {
    left: -85%;
  }

  
  .grid-90 {
    float: left;
    width: 90%;
  }

  
  .prefix-90 {
    margin-left: 90%;
  }

  
  .suffix-90 {
    margin-right: 90%;
  }

  
  .push-90 {
    left: 90%;
  }

  
  .pull-90 {
    left: -90%;
  }

  
  .grid-95 {
    float: left;
    width: 95%;
  }

  
  .prefix-95 {
    margin-left: 95%;
  }

  
  .suffix-95 {
    margin-right: 95%;
  }

  
  .push-95 {
    left: 95%;
  }

  
  .pull-95 {
    left: -95%;
  }

  
  .grid-33 {
    float: left;
    width: 33.33333%;
  }

  
  .prefix-33 {
    margin-left: 33.33333%;
  }

  
  .suffix-33 {
    margin-right: 33.33333%;
  }

  
  .push-33 {
    left: 33.33333%;
  }

  
  .pull-33 {
    left: -33.33333%;
  }

  
  .grid-66 {
    float: left;
    width: 66.66667%;
  }

  
  .prefix-66 {
    margin-left: 66.66667%;
  }

  
  .suffix-66 {
    margin-right: 66.66667%;
  }

  
  .push-66 {
    left: 66.66667%;
  }

  
  .pull-66 {
    left: -66.66667%;
  }

  
  .grid-100 {
    clear: both;
    width: 100%;
  }
}
/*## DEBUG ##*/

.sample-view {
  position: absolute;
  z-index: -1;
  background: url(../resource/functionite/functionite_www.png) 50% 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 6930px;
  opacity: 0.5;
  display: none;
}


body {
  font: normal 62.5%/1.5 "Crete Round", "Helvetica Neue", Tahoma, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.dotted-line {
  background: url(../img/strip-blue.png) repeat-x 0 50%;
  height: 6px;
  margin: 2em 0 7em;
  position: relative;
}

.dotted-line:before {
  content: "";
  background: url(../img/scissors.png) no-repeat 0 0;
  display: block;
  height: 33px;
  left: -48px;
  position: absolute;
  top: -14px;
  width: 38px;
}


.contact-wrapper .dotted-line, .education .dotted-line {
  background-image: url(../img/strip-white.png);
}

.contact-wrapper .dotted-line:before, .education .dotted-line:before {
  background-image: url(../img/scissors-grey.png);
}


.text {
  overflow: hidden;
  margin-bottom: 2em;
}

.text p {
  font-size: 1.8em;
  margin-bottom: 2em;
}


.section-title {
  color: #fff;
  font: 5.4em/1.2 "ProximaNova-Black", "Helvetica Neue", Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.3em;
}

.section-title span {
  border-bottom: 6px solid #5e92a0;
  padding: 0 16px 4px;
}


h3.subtitle {
  font-size: 3em;
  margin-bottom: 0.8em;
  letter-spacing: -0.05em;
}


.text {
  color: #334455;
}


.our-offer, .contact-wrapper, .education, .community-red, .clients-green {
  padding: 12em 0 3em;
  background-color: #7ec5d7;
}


.our-offer {
  color: #2a4e58;
}


.contact-wrapper, .education {
  background-color: transparent;
  color: #334455;
}

.contact-wrapper .section-title, .education .section-title {
  color: #334455;
}

.contact-wrapper .section-title span, .education .section-title span {
  border-bottom-color: #c3cad1;
}


.community-red {
  background-color: #e95851;
}

.community-red .section-title span {
  border-bottom-color: #cc3f38;
}


.clients-green {
  background-color: #8dca75;
}

.clients-green .section-title span {
  border-bottom-color: #4e8837;
}

/*=========================================*/
/* PAGE HEAD                               */
/*=========================================*/

.page-head {
  padding: 3em 10px;
}

.page-head h1 {
  text-indent: -9999em;
  overflow: hidden;
}

.page-head h1 a {
  background: url(../img/logo.png) no-repeat 0 0;
  display: block;
  height: 47px;
  width: 198px;
}

.page-head .contact {
  font-family: "Helvetica Neue", Tahoma, sans-serif;
  font-size: 1.4em;
  line-height: 38px;
  text-align: right;
}

.page-head .contact span {
  color: #797e8b;
  display: inline-block;
  margin-left: 15px;
}

.page-head .contact span:first-child {
  margin-left: 0;
}

.page-head .contact strong {
  padding-right: 0.357em;
  font-weight: bold;
  color: #000;
}

.page-head h2 {
  border-bottom: 0;
  color: #334455;
  margin-bottom: 0.62em;
}

.page-head h3 {
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1.68em;
  text-align: center;
  margin: 0 auto 2.7em;
  max-width: 545px;
}

.page-head .description {
  color: #334455;
  font-family: "Crete Round", "Helvetica Neue", Tahoma, sans-serif;
  clear: both;
  padding-top: 8em;
}


.mark-red {
  color: #e95851;
  text-decoration: underline;
}


.mark-blue {
  color: #7ec5d7;
  text-decoration: underline;
}


.mark-dark-blue {
  color: #3885d3;
  text-decoration: underline;
}


.mark-green {
  color: #8dca75;
  text-decoration: underline;
}

/*=========================================*/
/* OUR OFFER                               */
/*=========================================*/

.our-offer {
  overflow: hidden;
}

.our-offer .offer-infographic {
  font-family: "Crete Round", "Helvetica Neue", Tahoma, sans-serif;
  font-size: 1.4em;
  overflow: hidden;
}

.our-offer .offer-infographic figure {
  color: #fff;
  font-size: 1.571em;
  display: inline-block;
  margin-bottom: 2.5em;
  text-align: center;
}

.our-offer .offer-infographic figure img {
  margin-bottom: 1em;
}

.our-offer .offer-infographic figure:nth-child(1) {
  margin-left: 40px;
}

.our-offer .offer-infographic figure:nth-child(2) {
  margin-left: -20px;
}

.our-offer .offer-infographic figure:nth-child(3) {
  margin-left: -19px;
}

.our-offer .offer-infographic figure figcaption {
  margin-top: 1em;
}

.our-offer .offer-infographic span {
  color: #fff;
  font-style: italic;
  float: right;
}

.our-offer .offer-infographic span em {
  color: #d2ecf2;
}

.our-offer .workshops h2 {
  color: #fff;
  font-family: "Oswald", "BigNoodleTitling", "CreteRound", "Helvetica Neue", Tahoma, sans-serif;
  font-size: 3.8em;
  letter-spacing: -0.06em;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.our-offer .course-description {
  padding-right: 5em;
}

.our-offer .course-description p {
  font-size: 1.6em;
  padding: 1.25em 0;
  position: relative;
  margin-bottom: 2.5em;
}

.our-offer .course-description p::before, .our-offer .course-description p::after {
  border-top: 2px solid #6bacbd;
  border-bottom: 2px solid #6bacbd;
  content: "";
  left: 0;
  height: 2px;
  position: absolute;
  top: 0;
  width: 100%;
}

.our-offer .course-description p::after {
  top: 100%;
  margin-top: -6px;
}

.our-offer .client-testimonials {
  margin-bottom: 100px;
}

.client-testimonials .testimonial {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.client-testimonials .testimonial:nth-child(odd) {
  flex-direction: row-reverse;
}

.client-testimonials .testimonial:nth-child(odd) .opinion {
  padding-left: 0;
  padding-right: 30px;
}

.client-testimonials .testimonial:nth-child(odd) .author {
  text-align: right;
}

.client-testimonials .testimonial:last-child {
  margin-bottom: 0;
}

.client-testimonials .testimonial img {
  max-width: 100px;
  flex-basis: 100px;
  border-radius: 50%;
}

.client-testimonials .testimonial .opinion {
  font-size: 2em;
  padding-left: 30px;
  flex-basis: 60%;
}

.client-testimonials .testimonial .author {
  color: white;
  display: block;
  margin-top: 10px;
}

.founder-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.founder-footer img {
  max-width: 84px;
  flex-basis: 84px;
  margin-right: 15px;
  border-radius: 50%;
}

.founder-footer p {
  margin-bottom: 0;
  color: white;
}

.founder-footer small {
  display: block;
  line-height: 0.8em;
}

.topics h3, .code-sample h3 {
  color: #fff;
  font-family: "Oswald", "BigNoodleTitling", "CreteRound", "Helvetica Neue", Tahoma, sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.2em 0.571em 0.5em;
}


.topics-list li:not(.example) {
  background-color: #6bacbd;
  border-radius: 5px;
  color: #2d545f;
  font-size: 2em;
  margin-bottom: 0.3em;
  padding: 0.73em 1em;
}

.topics-list li:not(.example) span {
  background: url(../img/icon-more.png) no-repeat 100% 50%;
  display: block;
  padding-right: 2em;
}

.topics-list li:not(.example) em {
  color: #aee2ef;
}

.topics-list .example {
  margin-bottom: 0.6em;
}


.code-sample {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2em #55b3ca;
  padding: 1em 2em;
  position: relative;
}

.code-sample h3 {
  color: #2b505b;
  padding-left: 0;
  padding-right: 0;
}

.code-sample .close {
  color: #fff;
  display: block;
  width: 1.8em;
  height: 1.8em;
  background-color: #6bacbd;
  font-size: 1.4em;
  text-align: center;
  border-radius: 1em;
  position: absolute;
  right: 1.429em;
  top: 1.4em;
  line-height: 1.8;
  text-transform: uppercase;
}

.code-sample .code-lines {
  color: #2b505b;
}

.code-sample .code-lines li {
  background-color: #e5eef1;
  border-radius: 0;
  font-size: 1.6em;
  padding: 0.4em 1.5em;
  line-height: 1.8;
  margin-bottom: 1px;
}

.code-sample .code-lines li.your-code {
  border: 1px solid #ed4807;
  background: white url(../img/arr.png) no-repeat 0 50%;
}

.code-sample .code-lines li input {
  background-color: transparent;
  border: 0;
  color: #2b505b;
  font-size: 1em;
  font-family: "Crete Round", "Helvetica Neue", Tahoma, sans-serif;
  outline: 0;
  width: 100%;
}

.code-sample .buttons {
  font-family: "Crete Round", "Helvetica Neue", Tahoma, sans-serif;
  font-size: 1.6em;
  padding: 2em 0;
  text-align: center;
}

.code-sample .buttons .submit-answer {
  background-color: #ed4807;
  border: 0;
  border-radius: .4em;
  color: #fff;
  font-size: 1em;
  font-family: "Crete Round", "Helvetica Neue", Tahoma, sans-serif;
  text-align: center;
  padding: 0.5em 2em;
}

.code-sample .buttons .or {
  color: #b5c4c9;
  padding: 0 1em;
  font-style: italic;
}


.register {
  text-align: center;
  margin-bottom: 4em;
}

.register button {
  background-color: #2b505a;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-family: "Oswald", "BigNoodleTitling", "CreteRound", "Helvetica Neue", Tahoma, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 1em;
  padding: 0.4em 2em;
}

/*=========================================*/
/* WE LOVE EDUCATE                         */
/*=========================================*/

.education {
  padding-top: 9.4em;
}

.education .text p {
  color: #67727d;
}

.education .text p a {
    border-bottom: 1px solid #334455;
}

.education .text p a:hover {
    text-decoration: none;
}

.education strong {
  color: #334455;
}

.education .statement {
  font-size: 2.5em;
  margin-top: 2.3em;
  margin-bottom: 1.3em;
  text-align: center;
  line-height: 1.6;
}


.fancy-table tr:first-child td {
  border-top: 0;
}

.fancy-table tr:last-child td {
  border-bottom: 0;
}

.fancy-table tr td:first-child {
  border-left: 0;
}

.fancy-table tr td:last-child {
  border-right: 0;
}

.fancy-table td {
  border: 1px dashed #ecf0f3;
  color: #8dca75;
  font-size: 1.6em;
  text-align: center;
  padding: 1em;
}

.fancy-table .th {
  color: #2b505b;
  text-transform: uppercase;
}

.fancy-table td.stats-info {
    color: #67727d;
    font-size: 1.3em;
    text-align: right;
    font-style: italic;
}


.writing {
  overflow: hidden;
}

.writing .views-data {
  overflow-x: auto;
}

.writing .fancy-table {
  float: right;
}


.run-slideshow {
  font-size: 1.6em;
  margin-bottom: 3.6em;
  overflow: hidden;
}

.run-slideshow div {
  padding-top: 2.5em;
}

.run-slideshow blockquote {
  font-style: italic;
  padding-top: 30px;
  text-align: center;
}

.run-slideshow blockquote p {
  margin-bottom: 1em;
}

.run-slideshow blockquote .author {
  color: #334455;
}

.run-slideshow blockquote .company {
  color: #a0a7ae;
}

.run-slideshow .graphics {
  background: url(../img/run-slideshow.png) no-repeat 50% 50%;
  background-size: contain;
  height: 251px;
  /*width: 251px;*/
  padding-top: 0;
  opacity: .8;
}

.run-slideshow .graphics:hover {
  opacity: 1.0;
}

.run-slideshow .graphics a {
  display: block;
  font: bold 1.3125em/1.2 "Helvetica Neue", Tahoma, sans-serif;
  box-sizing: -moz-border-box;
  box-sizing: -webkit-border-box;
  box-sizing: border-box;
  width: 100%;
  height: 251px;
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #334455;
  text-decoration: none;
}


.events {
  margin-top: 10em;
  margin-bottom: 7em;
}

.events .events-our-passion {
  padding-left: 3.5em;
}


.open-source h3 {
  text-align: left;
}

/*=========================================*/
/* COMMUNITY                               */
/*=========================================*/

.community {
  padding-top: 7em;
  padding-bottom: 12em;
}

.community h2 {
  margin-bottom: 0;
}

.community .grid-community {
  background: url(../img/grid-community.png) no-repeat 50% 50%;
  height: 159px;
  margin: 0 auto;
}

.community .grid-titles {
  overflow: hidden;
}

.community .grid-title {
  border: 2px solid #cc3f38;
  border-radius: 20px;
  color: #fff;
  font-family: "ProximaNova-Black", "Helvetica Neue", Tahoma, sans-serif;
  font-size: 2.4em;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  float: left;
  height: 49px;
  margin-right: 60px;
  width: 256px;
}

.community .meetups {
  margin-left: 30px;
}

.community .workshops {
  margin-right: 0;
}

.community .grid-circles {
  background: url(../img/grid-circles.png) no-repeat 50% 50%;
  height: 127px;
  margin: 0 auto;
  wdith: 722px;
}

.community .circles {
  overflow: hidden;
}

.community .circle {
  font-family: "Crete Round", "Helvetica Neue", Tahoma, sans-serif;
  float: left;
  margin-right: 20px;
  text-align: center;
  width: 220px;
}

.community .circle figure {
  background: url(../img/shadow.png) no-repeat 50% 100%;
  height: 243px;
  margin-bottom: 3em;
}

.community .circle h3 {
  color: #fff;
  font-size: 3em;
  line-height: 1.3;
  text-align: center;
  white-space: nowrap;
}

.community .circle a {
  color: #2a4e58;
  display: inline-block;
  font-size: 1.6em;
  margin-bottom: 2em;
  text-decoration: none;
}

.community .circle p {
  color: #8a221d;
  font-size: 1.6em;
}

.community .circle:last-child {
  margin-right: 0;
}

/*=========================================*/
/* CLIENTS                                 */
/*=========================================*/

.clients-green {
  padding-top: 8.4em;
  padding-bottom: 8em;
  overflow: hidden;
}


.clients h2 {
  margin-bottom: 1em;
}

.clients .pages {
  margin-bottom: 50px;
  text-align: center;
}

.clients .page {
  background-color: #fff;
  border-radius: 16px;
  opacity: 0.5;
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  width: 16px;
}

.clients .page:hover {
  opacity: 1.0;
}

.clients .client-list {
  overflow: hidden;
  width: 100%;
}

.clients .client-list li {
  font-family: "Crete Round", "Helvetica Neue", Tahoma, sans-serif;
  float: left;
  margin-right: 20px;
  width: 300px;
}

.clients .client-list figure {
  background: url(../img/client.png) no-repeat 0 0;
  background-size: contain;
  height: 187px;
  margin-bottom: 17px;
  width: 300px;
  text-align: center;
}

.clients .client-list p {
  color: #2a4e58;
  font-size: 1.6em;
  font-style: italic;
  text-align: center;
  margin-bottom: 1em;
}

.clients .client-list .author {
  color: #fff;
  font-weight: bold;
}

/*=========================================*/
/* CONTACT                                 */
/*=========================================*/

.contact-wrapper .contacts {
  color: #2a4e58;
  font-size: 3em;
  margin: 0 auto;
  width: 55%;
}

.contact-wrapper .contacts li {
  background-position: 0 50%;
  background-repeat: no-repeat;
  line-height: 65px;
  margin-bottom: 1em;
  min-height: 65px;
  padding-left: 80px;
}

.contact-wrapper a {
  color: #2a4e58;
}

.contact-wrapper .mail {
  background-image: url(../img/mail.png);
}

.contact-wrapper .phone {
  background-image: url(../img/phone.png);
}

.contact-wrapper .twitter {
  background-image: url(../img/twitter-grey.png);
}

/*=========================================*/
/* FOOTER                                  */
/*=========================================*/

.page-footer {
  border-top: 1px solid #ecf0f3;
  color: #797e8b;
  font-family: "Helvetica Neue", Tahoma, sans-serif;
  font-size: 1.4em;
}

.page-footer .content {
  padding: 2em 0;
}

.page-footer p {
  text-align: center;
}

.page-footer span {
  font-size: 5px;
  position: relative;
  top: -2px;
}

.page-footer a {
  color: #797e8b;
}

/* Tablet */
@media screen and (max-width: 1025px) and (min-width: 767px) {
  
  .offer-infographic {
    margin-bottom: 3em;
    text-align: center;
  }

  
  .our-offer .offer-infographic figure {
    margin: 0 0 1em !important;
  }

  
  .our-offer .offer-infographic span {
    text-align: center;
    display: block;
    float: none;
    width: 100%;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  
  .our-offer, .education, .contact-wrapper, .community-red, .clients-wrapper {
    padding-top: 4em;
  }

  .founder-footer {
    justify-content: flex-start;
  }

  .client-testimonials .testimonial {
    display: block;
    text-align: center;
  }

  .client-testimonials .testimonial img {
    margin: auto;
    margin-bottom: 10px;
  }

  .client-testimonials .testimonial .opinion {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    font-size: 1.6em;
  }

  .client-testimonials .testimonial:nth-child(odd) .author {
    text-align: center;
  }

  .community-red {
    padding-bottom: 8em;
  }

  
  .dotted-line {
    height: 1px;
    margin-bottom: 5em;
  }
  
  .dotted-line:before {
    display: none;
  }

  
  .section-title {
    font-size: 2.8em;
  }

  
  .section-title span {
    border-bottom-width: 3px;
    padding-left: 6px;
    padding-right: 6px;
  }

  
  .page-head h1 {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 2em;
  }

  
  .page-head h1 a {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  
  .page-head h2 {
    margin-bottom: 1.5em;
  }

  
  .page-head h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
  }

  
  .page-head .description {
    padding-top: 4em;
  }

  
  .page-head .contact {
    line-height: 1.5;
    text-align: center;
  }

  
  .page-head .contact span {
    margin-left: 0;
  }

  
  .offer-infographic {
    margin-bottom: 3em;
    text-align: center;
  }

  
  .our-offer .offer-infographic figure {
    margin: 0 0 1em !important;
  }

  
  .our-offer .offer-infographic span {
    text-align: center;
    display: block;
    float: none;
    width: 100%;
  }

  
  .our-offer .course-description {
    padding-right: 10px;
  }

  
  .our-offer .workshops h2 {
    font-size: 2.8em;
    text-align: center;
  }

  
  .our-offer .topics h3 {
    font-size: 2.5em;
    text-align: center;
  }

  
  .our-offer .course-description p {
    padding-bottom: 2.5em;
  }

  
  .our-offer .course-description p:before {
    display: none;
  }

  
  .our-offer .register button {
    padding-left: 1em;
    padding-right: 1em;
  }

  
  .topics {
    margin-bottom: 4em;
  }

  
  .run-slideshow {
    margin-bottom: 2em;
  }

  
  .run-slideshow div:nth-child(1) {
    padding-top: 0;
  }

  
  .run-slideshow blockquote {
    padding-top: 0;
    margin-bottom: 2em;
  }

  
  .writing .fancy-table {
    float: none;
    width: 100%;
  }

  
  .events {
    margin-top: 4em;
    margin-bottom: 3em;
  }

  
  .events .events-our-passion {
    padding-left: 10px;
  }

  
  .education .statement {
    margin-top: 1.3em;
    font-size: 1.8em;
  }

  
  .clients .client-list li {
    float: none;
    margin: 0 auto 2em;
    width: 240px;
    height: 149px;
  }

  
  .clients .client-list img {
    height: 130px;
  }


  .clients .client-list figure {
    width: 240px;
    height: 149px;
  }

  
  .clients .pages {
    margin-bottom: 30px;
  }

  
  .clients-green {
    padding-bottom: 4em;
  }

  
  .contact-wrapper .contacts {
    font-size: 2em;
    width: auto;
  }

  
  .contact-wrapper .contacts li {
    background-position: 50% 0;
    text-align: center;
    padding-left: 0;
    padding-top: 44px;
  }

  
  .page-footer span {
    display: block;
    padding: 0.5em 0;
    text-indent: -999em;
  }


  .fancy-table {
    font-size: .8em;
  }
}
/* Tablet and mobile */
@media screen and (max-width: 1025px) {
  /* COMMUNITY */
  
  .community .grid-community {
    background-image: url(../img/grid-community-mobile.png);
    height: 150px;
  }

  
  .community .circle {
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto;
    padding-top: 4em;
  }

  
  .community .circle:last-child {
    background: none;
  }

  
  .community .grid-title.meetups,
  .community .grid-title.conferences,
  .community .grid-title.workshops {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  
  .community .circle figure {
    margin-bottom: 1em;
  }

  
  .community .circle a {
    margin-bottom: 1em;
  }

  
  .community .circle p {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
  }

  
  .community .grid-community {
    background-image: url(../img/grid-community-mobile.png);
    height: 150px;
  }

  
  .community .grid-conferences {
    background: url(../img/grid-conferences-mobile.png) no-repeat 50% 0, url(../img/community-strip-hr.png) repeat-x 0 0;
    height: 130px;
  }

  
  .community .grid-workshops {
    background: url(../img/community-strip-vr.png) repeat-y 50% 0, url(../img/community-strip-hr.png) repeat-x 0 0;
    height: 130px;
  }


  .clients {
    text-align: center;
  }


  .clients .client-list li {
    width: 236px;
    height: 149px;
  }


  .clients .client-list {
    width: auto;
    display: inline-block;
  }


  .clients .client-list li:last-child {
    margin-right: 0;
  }

  
  .clients .client-list img {
    height: 128px;
  }


  .clients .client-list figure {
    width: 236px;
    height: 149px;
  }
}
