@media screen and (max-width: 1025px) and (min-width: 767px) {
  /* line 2, ../sass/tablet.scss */
  .offer-infographic {
    margin-bottom: 3em;
    text-align: center;
  }

  /* line 7, ../sass/tablet.scss */
  .our-offer .offer-infographic figure {
    margin: 0 0 1em !important;
  }

  /* line 9, ../sass/tablet.scss */
  .our-offer .offer-infographic span {
    text-align: center;
    display: block;
    float: none;
    width: 100%;
  }

  /* COMMUNITY */
  /* line 18, ../sass/tablet.scss */
  .community .grid-community {
    background-image: url(../img/grid-community-mobile.png);
    height: 150px;
  }

  /* line 23, ../sass/tablet.scss */
  .community .circle {
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto;
    padding-top: 4em;
  }

  /* line 31, ../sass/tablet.scss */
  .community .circle:last-child {
    background: none;
  }

  /* line 37, ../sass/tablet.scss */
  .community .grid-title.meetups,
  .community .grid-title.conferences,
  .community .grid-title.workshops {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 43, ../sass/tablet.scss */
  .community .circle figure {
    margin-bottom: 1em;
  }

  /* line 47, ../sass/tablet.scss */
  .community .circle a {
    margin-bottom: 1em;
  }

  /* line 51, ../sass/tablet.scss */
  .community .circle p {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
  }

  /* line 58, ../sass/tablet.scss */
  .community .grid-community {
    background-image: url(../img/grid-community-mobile.png);
    height: 150px;
  }

  /* line 63, ../sass/tablet.scss */
  .community .grid-conferences {
    background: url(../img/grid-conferences-mobile.png) no-repeat 50% 0, url(../img/community-strip-hr.png) repeat-x 0 0;
    height: 130px;
  }

  /* line 68, ../sass/tablet.scss */
  .community .grid-workshops {
    background: url(../img/community-strip-vr.png) repeat-y 50% 0, url(../img/community-strip-hr.png) repeat-x 0 0;
    height: 130px;
  }
}
